<%- include('../partials/header') %>

<% trackers.forEach(function(m) { %>
    <tr>
      <td><%= m.symbol %></td>
      <td><a href="/trackers/<%= m._id %>">Tracker</a></td>
    </tr>
    <% }); %>
<%- include('../partials/footer') %>