<%- include('../partials/header') %>
    <form id="new-form" action="/trackers/search">
        <label>Symbol:</label>
        <input type="text" name="Symbol">
        <input type="submit" value="Search">
    </form>
<%- include('../partials/footer') %>